@import "../../App.scss";
.listItems{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  gap:30px
}
.singleItem {
  border: 1px dashed  $black ;
  border-radius: 30px!important;
}
.activeFav{
  background-color:white;
}
.disActiveFav{
  background-color:$black;
}
