$black: #414141;
$orange:#FFCC26;

*{
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $orange;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $orange;
}
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu&display=swap');
